<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.andraskindler.quickscroll"
    android:versionCode="2"
    android:versionName="0.8.1">

    <uses-sdk
        tools:node="merge"
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

</manifest>